<h1>Listing package_statuses</h1>

<table>
  <tr>
    <th>Status</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @package_statuses.each do |package_status| %>
  <tr>
    <td><%= package_status.status %></td>
    <td><%= package_status.notes %></td>
    <td><%= link_to 'Show', package_status %></td>
    <td><%= link_to 'Edit', edit_package_status_path(package_status) %></td>
    <td><%= link_to 'Destroy', package_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Package status', new_package_status_path %>
