<p id="notice"><%= notice %></p>

<p>
  <b>Partner type:</b>
  <%= @partner.partner_type %>
</p>

<p>
  <b>Partner status:</b>
  <%= @partner.partner_status %>
</p>

<p>
  <b>Name:</b>
  <%= @partner.name %>
</p>

<p>
  <b>Contact:</b>
  <%= @partner.contact %>
</p>

<p>
  <b>Email:</b>
  <%= @partner.email %>
</p>

<p>
  <b>Phone1:</b>
  <%= @partner.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%= @partner.phone2 %>
</p>

<p>
  <b>Address1:</b>
  <%= @partner.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @partner.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @partner.city %>
</p>

<p>
  <b>State:</b>
  <%= @partner.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @partner.zip %>
</p>

<p>
  <b>Website:</b>
  <%= @partner.website %>
</p>

<p>
  <b>Taxid:</b>
  <%= @partner.taxid %>
</p>

<p>
  <b>Notes:</b>
  <%= @partner.notes %>
</p>


<%= link_to 'Edit', edit_partner_path(@partner) %> |
<%= link_to 'Back', partners_path %>
