<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @installer.user %>
</p>

<p>
  <b>Name:</b>
  <%= @installer.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @installer.phone %>
</p>

<p>
  <b>Installer status:</b>
  <%= @installer.installer_status %>
</p>

<p>
  <b>Notes:</b>
  <%= @installer.notes %>
</p>


<%= link_to 'Edit', edit_installer_path(@installer) %> |
<%= link_to 'Back', installers_path %>
