<h1>Listing agent_types</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agent_types.each do |agent_type| %>
  <tr>
    <td><%= agent_type.type %></td>
    <td><%= agent_type.notes %></td>
    <td><%= link_to 'Show', agent_type %></td>
    <td><%= link_to 'Edit', edit_agent_type_path(agent_type) %></td>
    <td><%= link_to 'Destroy', agent_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Agent type', new_agent_type_path %>
