<%= form_for(@lead) do |f| %>
  <% if @lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% @lead.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lead_source %><br />
    <% f.text_field :lead_source %>
    <%= f.collection_select(:lead_source_id, LeadSource.all, :id, :source, :prompt => "Select a Source") %>
  </div>
  <div class="field">
    <%= f.label :lead_status %><br />
    <% f.text_field :lead_status %>
    <%= f.collection_select(:lead_status_id, LeadStatus.all, :id, :status, :prompt => "Select a Status") %>
  </div>
  <div class="field">
    <%= f.label :package %><br />
    <% f.text_field :package %>
    <%= f.collection_select(:package_id, Package.all, :id, :title, :prompt => "Select a Package") %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone1 %><br />
    <%= f.text_field :phone1 %>
  </div>
  <div class="field">
    <%= f.label :phone2 %><br />
    <%= f.text_field :phone2 %>
  </div>
  <div class="field">
    <%= f.label :address1 %><br />
    <%= f.text_field :address1 %>
  </div>
  <div class="field">
    <%= f.label :address2 %><br />
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :partner %><br />
    <% f.text_field :partner %>
    <%= f.collection_select(:partner_id, Partner.all, :id, :name, :prompt => "Select a Partner") %>
  </div>
  <div class="field">
    <%= f.label :agent %><br />
    <% f.text_field :agent %>
    <%= f.collection_select(:agent_id, Agent.all, :id, :name, :prompt => "Select an Agent") %>
  </div>
  <div class="field">
    <%= f.label :installer %><br />
    <% f.text_field :installer %>
    <%= f.collection_select(:installer_id, Installer.all, :id, :name, :prompt => "Select an Installer") %>
  </div>
  <div class="field">
    <%= f.label :lead_step %><br />
    <% f.text_field :lead_step %>
    <%= f.collection_select(:lead_step_id, LeadStep.all, :id, :step, :prompt => "Select a Step") %>
  </div>
  <div class="field">
    <%= f.label :customer_paid %><br />
    <%= f.check_box :customer_paid %>
  </div>
  <div class="field">
    <%= f.label :partner_paid %><br />
    <%= f.check_box :partner_paid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
