<h1>Listing leads</h1>

<table>
  <tr>
    <th>Lead source</th>
    <th>Lead status</th>
    <th>Package</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phones</th>
    <th>Address</th>
    <th>Notes</th>
    <th>Partner</th>
    <th>Agent</th>
    <th>Lead step</th>
    <th>Customer paid</th>
    <th>Partner paid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @leads.each do |lead| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= lead.lead_source.source %></td>
    <td><%= lead.lead_status.status %></td>
    <% unless lead.package.blank? %>
        <td><%= lead.package.title %></td>
    <% else %>
        <td>N/A</td>
    <% end %>
    <td><%= lead.name %></td>
    <td><%= lead.email %></td>
    <td><%= lead.all_phones %></td>
    <td><%= lead.full_address %></td>
    <td><%= lead.notes %></td>
    <td><%= lead.partner.name %></td>
    <td><%= lead.agent.name %></td>
    <% unless lead.lead_step.blank? %>
        <td><%= lead.lead_step.step %></td>
    <% else %>
        <td>N/A</td>
    <%  end %>
    <td><%= lead.customer_paid %></td>
    <td><%= lead.partner_paid %></td>
    <td><%= link_to 'Show', lead %></td>
    <td><%= link_to 'Edit', edit_lead_path(lead) %></td>
    <td><%= link_to 'Destroy', lead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lead', new_lead_path %>
