<h1>Listing appointment_statuses</h1>

<table>
  <tr>
    <th>Status</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @appointment_statuses.each do |appointment_status| %>
  <tr>
    <td><%= appointment_status.status %></td>
    <td><%= appointment_status.notes %></td>
    <td><%= link_to 'Show', appointment_status %></td>
    <td><%= link_to 'Edit', edit_appointment_status_path(appointment_status) %></td>
    <td><%= link_to 'Destroy', appointment_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Appointment status', new_appointment_status_path %>
