<h1>Listing installer_statuses</h1>

<table>
  <tr>
    <th>Status</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @installer_statuses.each do |installer_status| %>
  <tr>
    <td><%= installer_status.status %></td>
    <td><%= installer_status.notes %></td>
    <td><%= link_to 'Show', installer_status %></td>
    <td><%= link_to 'Edit', edit_installer_status_path(installer_status) %></td>
    <td><%= link_to 'Destroy', installer_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Installer status', new_installer_status_path %>
