<%= form_for(@partner_type) do |f| %>
  <% if @partner_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@partner_type.errors.count, "error") %> prohibited this partner_type from being saved:</h2>

      <ul>
      <% @partner_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :partner_type %><br />
    <%= f.text_field :partner_type %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
