<h1>Listing partner_types</h1>

<table>
  <tr>
    <th>Partner type</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @partner_types.each do |partner_type| %>
  <tr>
    <td><%= partner_type.partner_type %></td>
    <td><%= partner_type.notes %></td>
    <td><%= link_to 'Show', partner_type %></td>
    <td><%= link_to 'Edit', edit_partner_type_path(partner_type) %></td>
    <td><%= link_to 'Destroy', partner_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Partner type', new_partner_type_path %>
