<h1>Listing agent_statuses</h1>

<table>
  <tr>
    <th>Status</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agent_statuses.each do |agent_status| %>
  <tr>
    <td><%= agent_status.status %></td>
    <td><%= agent_status.notes %></td>
    <td><%= link_to 'Show', agent_status %></td>
    <td><%= link_to 'Edit', edit_agent_status_path(agent_status) %></td>
    <td><%= link_to 'Destroy', agent_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Agent status', new_agent_status_path %>
