<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @partner_status.status %>
</p>

<p>
  <b>Notes:</b>
  <%= @partner_status.notes %>
</p>


<%= link_to 'Edit', edit_partner_status_path(@partner_status) %> |
<%= link_to 'Back', partner_statuses_path %>
