<h1>Listing appointments</h1>

<table>
  <tr>
    <th>Partner</th>
    <th>Agent</th>
    <th>Installer</th>
    <th>User</th>
    <th>Date</th>
    <th>Time</th>
    <th>Appointment status</th>
    <th>Gcalendar</th>
    <th>Title</th>
    <th>Location</th>
    <th>Notes</th>
    <th>Completed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @appointments.each do |appointment| %>
  <tr>
    <td><%= appointment.partner %></td>
    <td><%= appointment.agent %></td>
    <td><%= appointment.installer %></td>
    <td><%= appointment.user %></td>
    <td><%= appointment.date %></td>
    <td><%= appointment.time %></td>
    <td><%= appointment.appointment_status %></td>
    <td><%= appointment.gcalendar %></td>
    <td><%= appointment.title %></td>
    <td><%= appointment.location %></td>
    <td><%= appointment.notes %></td>
    <td><%= appointment.completed %></td>
    <td><%= link_to 'Show', appointment %></td>
    <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
    <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Appointment', new_appointment_path %>
